/**
 * @name DiscordButtonRemove
 * @author ClaireSkies413
 * @version 0.1.0
 * @description Removes annoying buttons from the Discord message bar
 * @website https://github.com/claire-skies
 * @source https://github.com/claire-skies/discordButtonRemove
 **/

/* Hide Nitro gift button */
div[aria-label="Send a gift"] {
  display: none;
}

/* Hide GIF picker button */
div[aria-label="Open GIF picker"] {
  display: none;
}

/* Hide sticker picker button */
div[aria-label="Open sticker picker"] {
  display: none;
}

/* Hide Apps button */
.channelAppLauncher_e6e74f {
  display: none !important;
}
